# Django
DJANGO_SECRET_KEY=django-secret-key-only
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=api.example.com

# PostgreSQL
POSTGRES_DB=ai_gen_image_db
POSTGRES_USER=ai_gen_image
POSTGRES_PASSWORD=ai_gen_image_password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Gunicorn
GUNICORN_RELOAD=false
GUNICORN_WORKERS=4
GUNICORN_TIMEOUT=60

# Mapping port to local
API_PORT=127.0.0.1:8000
DB_PORT=127.0.0.1:5432
